<div class="notificationscenter__item notificationscenter__item-assessment_needs_review">
  <div class="notificationscenter__icon">
    <i class="fa fa-pencil-square-o"></i>
  </div>
  <div class="notificationscenter__content" {{action "goToItem"}}>
    <h3 class="notificationscenter__content_title">{{patients.lastObject}}</h3>
    <p class="notificationscenter__content_text">
      Has assessments ready to review
    </p>
    <span class="notificationscenter__content_data">{{moment-format group.lastObject.timestamp "MMMM DD \a\t h:mmA"}}</span>
  </div>
  <a href="#" class="notificationscenter__close" {{action "removeItem"}}>
    x
  </a>
</div>
